<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop_page</title>
</head>
<body>
    <h1>Товары</h1>
    <ul>
        <li>Бумага <button>Перейти в раздел</button></li>
        <li></li>
        <li>Краски <button>Перейти в раздел</button></li>
        <li></li>
        <li>Карандаши <button>Перейти в раздел</button></li>
        <li></li>
        <li>Маркеры <button>Перейти в раздел</button></li>
        <li></li>
        <li>Стёрки <button>Перейти в раздел</button></li>
        <li></li>
        <li>Мольберты <button>Перейти в раздел</button></li>
        <li></li>
        <li>Аксессуары <button>Перейти в раздел</button></li>
    </ul>
    <button type="button">
        <a href="http://127.0.0.1:8000">Вернуться обратно</a>
    </button>
</body>
</html>